* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto; /*Horizontally centered*/
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#controls {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#controls > button {
  margin-right: 10px;
}

button.active {
  background-color: #f9e981;
}

#solution-with-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.5rem;
}

#solution-with-data-score {
  width: 200px;
}
.caption-value {
  display: flex;
}
.caption > div {
  flex: 1;
}
.caption {
  font-weight: bold;
  margin-right: 12px;
  width: 150px;
}
.value {
  text-align: right;
  flex: 1; /*Grow the remaining space that caption is not taking from the column*/
}
#solution {
  height: 200px;
}
#solution h2 {
  margin: 0;
}
#solution > div {
  flex: 1;
  text-align: left;
  gap: 20px;
}

/* Replace the media query with a class that can be toggled by JS */
.narrow #solution-with-data {
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: var(--canvas-width);
}

.narrow #solution-with-data > div {
  width: 100%;
}
h1 {
  margin: 10px 0;
}

#instruction {
  margin: 10px 0;
  max-width: 600px;
  text-align: center;
}